parameters:
    level: 10
    tmpDir: cache/phpstan
    paths:
        - src
        - tests

    excludePaths:
        - tests/fonts
        - tests/Legacy
        - tests/Legacy/font
        - tests/resources
        - vendor

    type_coverage:
        param: 100
        return: 100
        property: 100

    reportUnmatchedIgnoredErrors: true
    checkUninitializedProperties: true

    ignoreErrors:
        -
             identifier: staticMethod.alreadyNarrowedType
             path: tests/
