parameters:
    level: 9
    paths:
        - src
        - tests

    excludePaths:
        - src/font
        - tests/fonts
        - tests/FPDF.php
        - tests/resources/font_test.php
        - vendor

    reportUnmatchedIgnoredErrors: true
    checkUninitializedProperties: true
